body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    display: flex;
}

.product-overview {
    background-color: coral;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 1rem;
}

.product-overview h1 {
    padding: 0.5rem;
}