body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    /* display: flex; */
    background-color: azure;
}

.product-overview {
    background-color: coral;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 1rem;
    border: .25rem darkgrey solid;
    margin: 0;
    box-sizing: border-box;
}

.product-overview h1 {
    padding: 0.5rem;
}