.package {
    border: .2rem solid grey;
    border-radius: .2rem;
    margin: 1rem .5rem;
    padding: 1rem;
    transition: 0.25s ease;
    width: 80%;
}

.package > a {
    text-decoration: none;
    padding: 4rem;
}

.package:hover {
    border: .25rem solid crimson;
    scale: 1.01;
}

.package h1 {
    color: black;
}

.package h2 {
    color: gray;
}

.package p {
    border: .1rem solid #e5ffe5;
    padding: 1rem;
    background-color: #e6e6e6;
    border-radius: .5rem;
}

.plus {
    background-color: lightcyan;
}

.free {
    background-color: lightgoldenrodyellow;
}

.premium {
    background-color: green;
}

.premium h1 {
    color: white;
}

main {
    padding-top: 5rem;
}